/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my work here */

 {
	outline:1px solid blue;
}

body {
	/* background-image:url("images/Aurora_borealis_above_Lyngenfjorden,_2012_March-3.jpg"); */
    background-color:#F8F8F8;
	background-repeat:none;
	background-size:2000px 1100px;
	background-repeat:none;
}

.main {
	 
	 position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 600px;
     height:565px;
    
      background: rgba(175, 175, 175, 0.7);
    -pie-background:  rgba(175, 175, 175, 0.7);
    behavior: url(PIE.htc);
     
}


#logo {
	width:156px;
	height:154px;
	position:absolute;
}

#logo img {
	width:100%;
	margin:22px 0px 18px 23px;
}

#instructions {
	width:160px;
	position:absolute;
	top:180px;
	margin:4px 9px 9px 9px;
	padding:12px 12px 12px 16px;
	line-height:1.2;
	font-family:trebuchet ms;
	opacity:1.0;
}


ul li {
	padding-top:8px;
}


a {
	text-decoration:none;
	color:black;
}

a:visited {
	color:black;
}

#input {
	width:152px;
	height:26px;
	border:1px solid double black;
	text-align:center;
	font-family:trebuchet ms;
	font-size:1.1em;
	font-style:italic;
	color:black;
	border:1px black solid;
	outline: 2px solid black;
	outline-offset: 2px;
	background-color:#f3f3f3;


}



.spcl {
	padding-top:28px;
}

#left {
	width:200px;
	left:0;
	position:absolute;
}

#center {
	width:400px;
	height:548px;
	left:200px;
	top:10px;
	border-left: 2px solid black;
	border-right: 0px solid black;
	position:absolute;

}

.heads {
	width:360px;
	height:32px;
	border:1px solid black;
	margin:8px 14px 14px 18px;
	font-size:18px;
	text-align:center;
	font-family:trebuchet ms;
	color:white;
	background-color:black;
	outline: 2px solid black;
	outline-offset: 2px;
	line-height:30px;
}



.taskplacemarks {
	width:362px;
	height:32px;
	border:1px black dashed;
	margin:11px 14px 11px 17px;
}

#addedtasks p {
	width:362px;
	height:32px;
	border:1px solid black;
	margin:11px 14px 11px 17px;
	text-align:center;
	font-family:trebuchet ms;
	background-color:#f3f3f3;
	line-height:30px;
    cursor:default;
	
}


.completed {
	text-decoration: line-through;
	font-style:italic;
	color:silver;
}



